<header class="header">
    <div class="text-header container d-flex align-items-center vh-100">
        <div class="row">
            <div class="col-sm-6">
                <h2>La comunidad <span class="text-white">más grande de tecnología de la UTP</span></h2>
                <p>
                    Conoce, comparte y aprende en comunidad las ultimas tendencias tecnológicas, con otros estudiantes
                    de todas las facultades de ingeniería de la Universidad Tecnológica del Perú
                </p>
                <a href="" class="btn btn-events"><span>Ver eventos</span></a>
            </div>
        </div>
    </div>
</header>