.bg-dark{
    position: fixed;
    z-index: 20;
    width: 100% ;
    background-color: transparent!important;
}

.navg a{
    color: white;
    
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.navg a:hover{
    color: #FBA41A;
    cursor: pointer;
}

.nav_change{
    position: fixed;
    z-index: 20;
    width: 100% ;
    background-color:rgba(27, 156, 207, 0.753);
}